

.ingredients{
    color: black;
    background-color: blanchedalmond;
    ;
    padding: 5px;
    margin: 5px;
}

.method {
    color: black;
    background-color: coral;
    padding: 5px;
    margin 5px;
}
.box {
    height: 155px;
    width: 155px;
    border: 10px solid black;
    padding: 30px;
    margin: 10px;
    background-color: blanchedalmond; 

}
.title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333

}