body {
    font-family: Verdana, sans-serif;
    background-color: cadetblue;
    color: #333;
    max-width: 600px;
    margin: 0 auto;    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.index-p {
    color: black;
    text-align: center;
}
.ingredients,
.method,
.box {
    background-color: blanchedalmond; 
    padding: 20px;
    margin: 10px;
}

.title {
    text-align: center;
    background-color: blanchedalmond; 
    border: 8px solid brown; 
    padding-top: 8px;
    padding-bottom: 8px;
}
.box {  
    border: 8px solid chocolate;   
}
.ingredients{ 
    border: 8px solid brown ;
}
.method {
    border: 8px solid chocolate ;
}
